*.class

# Package Files #
*.jar
*.war
*.ear

# maven folder
beeroftheworld/target/**/*

# eclipse workspace folder
.metadata/**/*

# Some VSCode files I assume.
*.project
*.classpath
org.eclipse.jdt.*